.category-chip {
  background-color: #ffffff;
  border: 1.5px solid rgb(255, 99, 132);
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 5px;
  font-weight: bolder;
}

.category-chip:hover {
  cursor: pointer;
}

.category-chip.selected {
  background-color: rgb(255, 99, 132);
  color: #ffffff;
  
}


