.search-input-wrapper {
  position: relative;
  width: 100vw;
  height: 80px;
}

.search-input {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-input {
  border-radius: 10px;
  outline: 0;
  width: 700px;
  height: 50px;
  padding: 0 70px 0 10px;
}

#search-btn, #geoloc-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  
}

#search-btn {
  right: 40px;
}

#geoloc-btn {
  right: 10px;
}

.search-hint, .geoloc-hint {
  display: none;
}

#search-btn:hover + .search-hint, #geoloc-btn:hover + .geoloc-hint {
  display: block;
  background-color: rgb(255, 99, 132);
  color: white;
  font-size: 4px;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
}

#search-btn:hover + .search-hint {
  right: 55px;
  bottom: -15px;
}

#geoloc-btn:hover + .geoloc-hint {
  right: 30px;
  bottom: -15px;
}

#search-btn:hover, #geoloc-btn:hover {
  cursor: pointer;
}